@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .messages{
    @apply w-auto m-2 p-3 rounded
  }

  .sent{
    @apply justify-end
  }

  .sent>.message{
    @apply p-4 flex flex-row-reverse
  }

  .sent>.message>div{
    @apply flex flex-col items-end gap-3
  }

  .sent>.message>div>.textmsg{
    @apply  dark:bg-msgGray bg-msgLight w-auto max-w-[15rem] break-words p-3 text-left px-5 font-normal rounded-3xl
  }

  .recieved{
    @apply justify-start
  }

  .recieved>.message{
    @apply p-4 flex
  }

  .recieved>.message>div{
    @apply flex flex-col items-start gap-3
  }

  .recieved>.message>div>.textmsg{
    @apply  dark:bg-black border border-opacity-50 dark:border-white border-black bg-white w-auto max-w-[15rem] p-3 px-5 font-normal rounded-3xl break-words
  }

  body{
    @apply dark:bg-[#18181b] bg-gray-200 flex flex-col justify-center items-center
  }
}

::-webkit-scrollbar {
  width: 5px;

}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(79, 79, 79);
  border-radius: 10px;
}